/.vs
/RxMessageBus/obj
/RxMessageBus/bin
/RxMessageBusDemo/obj
/RxMessageBusDemo/bin
/LiteMessageBusDemo/obj
/LiteMessageBusDemo/bin
/LiteMessageBus/obj
/LiteMessageBus/bin
/LiteMessageBus.UnitTest/obj
/LiteMessageBus.UnitTest/bin
/.idea
/RxMessageBus.Demo/obj
/RxMessageBus.Demo/bin
/RxMessageBus.UnitTest/obj
/RxMessageBus.UnitTest/bin
/RxMessageBus.sln.DotSettings.user
